<p>&nbsp;&nbsp;</p>
<p>GitHub Repository: <a href="https://github.com/katmit/volatileSketchboard">https://github.com/katmit/volatileSketchboard</a></p>
<p>Contact: <a href="mailto:katsuzmit@gmail.com">katsuzmit@gmail.com</a>&nbsp;</p>
<p>&nbsp;&nbsp;</p>
<p>
    Future update plans include:
    <ul>
        <li>The ability to draw shapes such as squares and circles</li>
        <li>Hotkeys (Ctrl+C, Ctrl+V, etc.)</li>
        <li>The ability to export the canvas to an image or JSON file</li>
        <li>The ability to import a JSON that is the result of exporting the canvas</li>
        <li>General UI improvements</li>
    </ul>
    <br /><br />
    Please see known issues on the GitHub repo before reporting!

</p>
