body {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    width: 100%;
}

.canvas-container {
    margin: 0 auto;
}

.tab {
    overflow: hidden;
    border: none;
}

.toolbarButton {
    background-color: #b3b3b3;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    font-size: 14px;
}

.controlButton {
    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    font-size: 12px;
}

.tabcontent {
    display: none;
    height: 50px;
    padding-top:5px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container > div {
    margin: 5px;
    padding-top: 20px;
    text-align: left;
}

#createRoomButton:hover {
    background-color: #68a69c !important;
}

#joinRoomButton:hover {
    background-color: #e8a2a2 !important;
}

#drawingColor {
    border: none;
    background-color: inherit;
    height: 35px;
    width: 35px;
}

#chatContainer {
    float: right;
    width: 30%;
    height: 910px;
    min-width: 500px;
    padding-top: 60px;
    padding-left: 20px;
}

#drawButton:hover {
    background-color: #68a69c !important;
}

#selectButton:hover {
    background-color: #e8a2a2 !important;
}

#importButton:hover {
    background-color: #b56fc7 !important;
}

#exportButton:hover {
    background-color: #74a382 !important;
}
